@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Autókereskedés </h1>
                <h2>- ASP.NET próbafeladat</h2>
            </hgroup>
           
        </div>
    </section>
}
<h3>Telepítés sorrendje</h3>
<ol class="round">
    <li class="one">
        <h5>Adatbázis létrehozása</h5>
        Az SQL könyvtárban található egy Create TestAutoDb.sql fájl, azt kell lefuttatni , hogy létrejöjjön az adatbázis.
        Majd a webconfig beállítása következik a megfelelő felhasználói név/jelszó párossal.
    </li>

</ol>
