@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Autókereskedés </h1>
                <h2>- ASP.NET próbafeladat</h2>
            </hgroup>
           
        </div>
    </section>
}
<h3>Telepítés sorrendje</h3>
<ol class="round">
    <li class="one">
        <h5>Adatbázis létrehozása</h5>
        Az SQL könyvtárban található egy create_testautodb.sql fájl, azt kell lefuttatni , hogy létrejöjjön az adatbázis, és a két tábla.
        Majd a webconfig beállítása következik a megfelelő felhasználói név/jelszó párossal.
        A webconfig 2012-es sql re van állítva alapállapotban a testAutoHibernate connectionString-ben és
        a NHibernateHelper.cs fájlban a Configuration értékeinél (MsSql2012Dialect).
    </li>

</ol>
